@page "/"
<div class="main">
    <div class="header">
        
    </div>
    <div class="body">
        <div class="message-layout">
            <div class="message-container">
                <h1 class="main-message">Easy<br>Contacts</h1>
                <div class="main-subtitle">Just like Google Contacts,<br>but <b>cheaper</b>.</div>
            </div>
        </div>
        <div class="auth-layout">
            <div class="auth-container">
                <Login></Login>
            </div>
        </div>
    </div>
</div>
