<div class="main-layout">
    <div class="body">
        <div class="options-tab">
            <div class="option selected">Sign In</div>
            <div class="option">Sign Up</div>
        </div>
        <div class="forms-layout">
            <input placeholder="Username" type="email"/>
            <input placeholder="Password" type="password"/>
            <input placeholder="Confirm password" type="password"/>
        </div>
        <button class="action-button">LOGIN</button>
    </div>
</div>


@code {
    
}