@using Domain.Model
@using Domain.Identity
@inherits LayoutComponentBase
@inject IAuthenticationService<AppUser> AuthenticationService
@inject NavigationManager NavigationManager

<div>
    @Body
</div>
@code {
    
    protected override async Task OnInitializedAsync()
    {
        // if (!AuthenticationService.IsUserLoggedIn)
        // {
        //     NavigationManager.NavigateTo("/fetchdata");
        //     return;
        // }
    }


}