@using Domain.Model
@using Domain.Identity
@inherits LayoutComponentBase
@inject IAuthenticationService<AppUser> AuthenticationService
@inject NavigationManager NavigationManager

<div>
    @if (AuthenticationService.IsUserLoggedIn)
    {
        <h1>Welcome</h1>
    }
    else
    {
        <a href="/login">Login</a>
    }
    <div>
        @Body
    </div>
</div>
@code {
    
    protected override async Task OnInitializedAsync()
    {
        // if (!AuthenticationService.IsUserLoggedIn)
        // {
        //     NavigationManager.NavigateTo("/fetchdata");
        //     return;
        // }
    }


}