# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ContactsApp.iml
# Datasource local storage ignored files
/../../../../../../:\projects\ContactsApp\.idea\.idea.ContactsApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
